<!DOCTYPE html>
<html>
  <head>
    <title>Quotes App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br />
          Wadda
          <br />
          ya
          <br />
          say?
        </div>
      </div>
      <div class="col-4 slogan">
        Quotes to live by
      </div>
      <div class="col=5 links">
        <%= link_to 'Add a Quote', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class='clear' />
    <%= yield %>
  </body>
</html>
